* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: orange;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("./imades/main_img.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body::after {
  content: "";
  position: absolute;
  background: black;
  width: 100%;
  height: 500vh;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  /* opacity: 0; */
}

.title.active {
  opacity: 1;
  transition: opacity 3s;
}

.section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.image-wrap {
  position: relative;
  top: 40%;
  height: 40%;
  width: 1px;
  overflow: hidden;
  opacity: 0;
}

.image-wrap.active {
  width: 40vh;
  opacity: 1;
  transition: opacity 1s , width 2s ;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: center;
  transform: scale(1.6);
}
